In [343]:
#1. Importar la base de datos athlete_events.csv , y reportar la cantidad de registros (filas) y
#de campos (columnas). El resultado debe guardarse en una variable llamada ejercicio_1 .
#tip: Puede hacer uso de .shape para esto.

import pandas as pd
import numpy as np

df = pd.read_csv("athlete_events.csv")
ejercicio_1=df.shape
ejercicio_1

(271116, 15)

In [6]:
ejercicio_1

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [106]:
#2. Reportar cuÃ¡ntas competencias se han realizado a lo largo del tiempo. El resultado debe ser
#un nÃºmero entero y debe guardarse en una variable llamada ejercicio_2 

ejercicio_2=len(df["Games"].value_counts())
ejercicio_2

51

In [119]:
#Reportar el porcentaje (nÃºmero entre 0 y 1) de atletas que participaron tanto en los juegos
#olÃ­mpicos de Verano como en los de Invierno. El resultado debe guardarse en una variable
#llamada ejercicio_3 .
ejercicio_3 = round((df['ID'].groupby(df['Medal']).count() / df['Name'].count()), 2)
ejercicio_3

Season
Summer    0.82
Winter    0.18
Name: ID, dtype: float64

In [157]:
#4. Informar dÃ³nde fue la primera celebraciÃ³n de un Juego OlÃ­mpico de Verano. El resultado debe
#guardarse en una variable llamada ejercicio_4 .
#tip: Investige sobre las funciones min() y unique() de una Serie de pandas.

df_Summer = df[df['Season'] == 'Summer']
df_Summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [216]:
ejercicio_4 =((df_Summer[df_Summer['Year'] == df_Summer['Year'].min()]['City']).unique()),(df_Summer[df_Summer['Year'] == df_Summer['Year'].min()]["Year"]).unique()
ejercicio_4

(array(['Athina'], dtype=object), array([1896]))

In [220]:
# Informar dÃ³nde fue la primera celebraciÃ³n de un Juego OlÃ­mpico de Invierno. El resultado
#debe guardarse en una variable llamada ejercicio_5 .

df_Winter = df[df['Season'] == 'Winter']
ejercicio_5 =((df_Winter[df_Winter['Year'] == df_Winter['Year'].min()]['City']).unique()),(df_Winter[df_Winter['Year'] == df_Winter['Year'].min()]["Year"]).unique()
ejercicio_5

(array(['Chamonix'], dtype=object), array([1924]))

In [341]:
#Reportar los 10 primeros paÃ­ses con mayor cantidad de atletas participantes a lo largo de los
#juegos. El resultado debe guardarse en una variable llamada ejercicio_6 .

ejercicio_6 = ((df.loc[:, ["Name", "Team"]]).groupby('Team')['Name'].nunique().reset_index()).sort_values('Name', ascending=False).head(10)
ejercicio_6

               Team  Name
1095  United States  9114
361          France  5777
412   Great Britain  5758
506           Italy  4688
398         Germany  4569
173          Canada  4546
513           Japan  3981
65        Australia  3766
1010         Sweden  3613
809          Poland  2932

In [351]:
#Reportar el porcentaje de medallas asignadas (oro, bronce, plata). El resultado debe
#guardarse en una variable llamada ejercicio_7

df_medallas_nan = df[df["Medal"].isnull() != True]
ejercicio_7 = round((df_medallas_nan.groupby(df_medallas_nan['Medal']).count() / df['Medal'].count()), 2)
ejercicio_7

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event
Medal,,,,,,,,,,,,,,
Bronze,0.33,0.33,0.33,0.33,0.26,0.26,0.33,0.33,0.33,0.33,0.33,0.33,0.33,0.33
Gold,0.34,0.34,0.34,0.33,0.26,0.26,0.34,0.34,0.34,0.34,0.34,0.34,0.34,0.34
Silver,0.33,0.33,0.33,0.32,0.26,0.25,0.33,0.33,0.33,0.33,0.33,0.33,0.33,0.33

In [349]:
.

Reportar cuÃ¡les fueron los paÃ­ses participantes en las primeras olimpiadas de verano. El
resultado debe guardarse en una variable llamada ejercicio_8

Medal
Bronze    0.33
Gold      0.34
Silver    0.33
Name: ID, dtype: float64